<h1>Restaurants List</h1>
<h2>All you need is here!</h2>
<ul>
  <% @restaurants.each do |restaurant| %>
    <br>
    <li>
      <p><%= " #{restaurant.name} - #{restaurant.category}  " %><%= link_to '<i class="fas fa-info-circle"></i>'.html_safe, restaurant_path(restaurant) %></p>
    </li>
  <% end %>
</ul>
<p><%= link_to '+ add a restaurant', new_restaurant_path %></p>
