<h1 class="text-center">Add a restaurant!</h1>
<%= render 'form', restaurant: @restaurant %>
<div class="col-sm-6 col-md-6 col-md-offset-3">
  <br>
  <%= link_to '<i class="fa fa-chevron-circle-left"></i> back'.html_safe, restaurants_path %>
</div>
