// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}

.review {
  text-align: left;
  justify-content: left;
  padding: 10px;
  margin: 10px;
  background-color: rgb(200,200,200);
  border-radius: 5px;
}

.review:hover {
  border-color: rgb(200,200,200);
  background-color: rgb(230,230,230);
}
